@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}


@keyframes orbit {
  0% { transform: rotate(225deg); opacity: 1; animation-timing-function: ease-out; }
  7% { transform: rotate(345deg); animation-timing-function: linear; }
  30% { transform: rotate(455deg); animation-timing-function: ease-in-out; }
  39% { transform: rotate(690deg); animation-timing-function: linear; }
  70% { transform: rotate(815deg); opacity: 1; animation-timing-function: ease-out; }
  75% { transform: rotate(945deg); animation-timing-function: ease-out; }
  76% { transform: rotate(945deg); opacity: 0; }
  100% { transform: rotate(945deg); opacity: 0; }
}

@keyframes bg {
  0% { background: rgb(31, 82, 116); }
  100% { background: rgb(32, 46, 37); }
  100% { background: rgb(0, 0, 0); }
}

/* Apply animations in Tailwind */
@layer utilities {
  .animate-orbit {
    animation: orbit 5.5s infinite;
  }
  .animate-bg {
    animation: bg 16s ease-in alternate infinite;
  }
}
